* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;

    /* width: auto;
    background-image: url(/MEDIA/blue_blob.svg);
    background-size: 100px 600px;
    background-repeat: no-repeat; */

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    position: relative;
}

.shape {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    height: inherit ;
    overflow: hidden;
}


.weather {
    margin: 1em 1em 1em 2em;
    
    position: absolute;
    top: .5em;
    left: -1.5em;
    /* align-self: flex-start; */

    font-size:x-large ;
    font-weight: 900;
    color: rgb(29, 29, 29);

    /* flex-flow: row nowrap; */
    display: flex;
    align-items: center;

}

.weather>img {
    width: 50%;
}

.vl {
    border-left: 3px solid rgb(29, 29, 29);
    height: 2em;
    border-radius: 5px;
    margin-right: .8em;
    margin-left: .3em;
}

.joke-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    position: relative;

    color: whitesmoke;
}

h1 {
    /* max-width: 80%;  */

    position: relative; 
    text-align: center;
    
    font-size: 2.5em;
}

/* 
TEXTO CON GRADIENTE --> el gradiente está en el background y hay que hacer una máscara (clip) al texto para luego darle un relleno (fill) transparente
h1 {
    background: -webkit-linear-gradient(135deg, #025534 39%, #2245e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.joke {
    position: relative; 
    text-align: center;
    margin: 2.5em;

    max-width: 80%;
    min-height: 3em;
    
    font-size: larger;
    font-weight: 600;
}

.score {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly ;
    align-items: center ;
    
    width: 50%;
    min-height: 5em;
    /* padding: 1em 2em; */
    
    /* color: #025534; */
    /* font-size:xx-large; */
    
}

.icon-btn {
    border: none;
    color: whitesmoke;
    background-color: transparent;
    cursor: pointer;
}

/* .score > .icon-btn:nth-child(1) {
    color: #025534;
}

.score > .icon-btn:nth-child(2) {
    color: #225472;
}

.score > .icon-btn:nth-last-child(1) {
    color: #0b27a2;
} */

.joke-btn {
    position: relative; 
    background-color: transparent ;
    /* color: #0b27a2; */
    color: whitesmoke;

    font-size: 2em;
    padding: .2em 1em;

    border-style:solid;
    /* border-color: #0b27a2; */
    border-color: whitesmoke;
    border-width: .15em;
    border-radius: .3em;

    cursor: pointer;
}

.joke-btn:hover {
    background-color: whitesmoke;
    /* background-color: #0b27a2 ; */
    color: rgb(14, 141, 124);
}


