* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    height: 100vh;


    background-color: #038767;
    background-image: linear-gradient(135deg, #00c190 32%, #4667f8 100%);

    color: aqua;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.page {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    padding: 9em 6em;
    
    position: relative;
}

.page::before {
    content: '';
    
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    
    background-color: white;
    background-image: url('../MEDIA/ISP_STREET_HAPPENS_22000_edit.jpg');
    background-size: cover ;
    background-position: bottom center;
    border-radius: 1em;    
    opacity: 0.85;


}

h1 {
    position: relative; 
    text-align: center;
    
    font-size: 2.5em;
    background: -webkit-linear-gradient(135deg, #025534 39%, #2245e0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#joke {
    position: relative; 
    text-align: center;
    margin: 4em 10em;
    
    color: #025534;
    
    font-size: larger;
    font-weight: 600;
}

.main-button {
    position: relative; 
    background-color: transparent ;
    color: #0b27a2;

    font-size: 2em;
    padding: .2em 1em;

    border-style:solid;
    border-color: #0b27a2;
    border-width: .15em;
    border-radius: .3em;

    cursor: pointer;
}

.main-button:hover {
    background-color: #0b27a2 ;
    color: #1facad;
}
